{% autoescape off %}

Приветствуем, {{ user.username }},

Мы получили запрос на сброс пароля для вашего аккаунта на этот email-адрес.
Чтобы продолжить процесс сброса пароля необходимо пройти по ссылке ниже:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Эта ссылка может быть использована только раз. Если необходимо сбросить пароль ещё раз,
посетите сайт {{ protocol }}://{{ domain }}.

Если вы не делали этот запрос, тогда проигнорируйте это письмо.

{% endautoescape %}
